<% content_for(:left) do %>

	<% widget_for 'toolbar' do %>
		<dl>
			<dt class='toolbar-button'><%= silk_image 'pencil.png' %></dt>
			<dd class='toolbar-description'>Draw</dd>
			<dt class='toolbar-button'><%= silk_image 'bomb.png' %></dt>
			<dd class='toolbar-description'>Erase</dd>
		</dl>
	<% end %>

	<% widget_for 'misc' do %>
		<h4>a: buttons</h4>
		<div class="clearfix">
			<a href="http://some-site.com/" class="button"><%= silk_image 'eye.png' %> See</a>
			<a href="http://some-site.com/" class="button positive"><%= silk_image 'add.png' %> Add</a>
			<a href="http://some-site.com/" class="button negative"><%= silk_image 'cancel.png' %> Cancel</a>
			<a href="http://some-site.com/" class="button"><%= silk_image 'door_in.png' %>	add element</a>
		</div>
		<h4>button: buttons</h4>
		<div class="clearfix">
			<% form_tag({:action => "index", :method => :get}, {:class => "form"}) do %>
				<button type="submit">Draw</button>
				<button type="submit" class="positive">Draw</button>
				<button type="submit" class="negative">Draw</button>
			<% end -%>
		</div>
	<% end %>
	
<% end %>

<% content_for(:right) do %>

	<% widget_for 'debugger' do %>
		<ul>
			<li><%= link_to_function "clear", "log.clear()" %></li>
			<li><%= link_to_function "move", "log.move()" %></li>
			<li><%= link_to_function "resize", "log.resize()" %></li>
			<li><%= link_to_function "toggle", "log.toggle()" %></li>
		</ul>
	<% end %>
	
<% end %>

<% content_for(:center) do %>

	<% widget_for 'workspace' do %>
		<% content_tag :canvas, :id => "canvas" do  %>
			xxx
		<% end %>
	<% end %>
	
<% end %>
