<% content_for(:left) do %>
	<%= render :partial => "widgets/toolbar" %>

	<% widget_for 'misc' do %>
		<h4>a: buttons</h4>
		<div class="clearfix">
			<a href="http://some-site.com/" class="button"><%= silk_image 'eye.png' %> See</a>
			<a href="http://some-site.com/" class="button positive"><%= silk_image 'add.png' %> Add</a>
			<a href="http://some-site.com/" class="button negative"><%= silk_image 'cancel.png' %> Cancel</a>
			<a href="http://some-site.com/" class="button"><%= silk_image 'door_in.png' %>	add element</a>
		</div>
		<h4>button: buttons</h4>
		<div class="clearfix">
			<% form_tag({:action => "index", :method => :get}, {:class => "form"}) do %>
				<button type="submit">Draw</button>
				<button type="submit" class="positive">Draw</button>
				<button type="submit" class="negative">Draw</button>
			<% end -%>
		</div>
	<% end %>	
<% end %>

<% content_for(:right) do %>
	<%= render :partial => "widgets/debugger" %>
<% end %>

<% content_for(:center) do %>
	<%= render :partial => "widgets/workspace" %>
<% end %>
