<% widget_for 'credits', :closed => 'closed' do %>
	<ul>
		<li><%= link_to 'codeofficer.com', 'http://www.codeofficer.com/' %></li>
		<li><%= link_to 'js.class', 'http://jsclass.jcoglan.com/' %></li>
		<li><%= link_to 'jquery', 'http://www.jquery.com/' %></li>
		<li><%= link_to 'jquery ui', 'http://ui.jquery.com/' %></li>
		<li><%= link_to 'famfam icons', 'http://drawingapp.local/images/silk/readme.html' %></li>
		<li><%= link_to 'canvas tutorial', 'https://developer.mozilla.org/en/Canvas_tutorial/Basic_usage' %></li>
		<li><%= link_to 'doodles: part 1', 'http://www.webreference.com/programming/javascript/gr/column20/' %></li>
		<li><%= link_to 'doodles: part 2', 'http://www.webreference.com/programming/javascript/gr/column21/' %></li>
	</ul>
<% end %>	