<% widget_for 'misc' do %>
	<%= image_tag '/images/rails.png', :id => "rails-image" %>
	<h4>a: buttons</h4>
	<div class="clearfix">
		<%= link_to_function "#{silk_image('eye.png')} See", '', :class => 'button' %>
		<%= link_to_function "#{silk_image('add.png')} Add", '', :class => 'button positive' %>
		<%= link_to_function "#{silk_image('cancel.png')} Cancel", '', :class => 'button negative' %>
		<%= link_to_function "#{silk_image('door_in.png')} Add Element", '', :class => 'button' %>
	</div>
	<h4>button: buttons</h4>
	<div class="clearfix">
		<% form_tag({:action => "index", :method => :get}, {:class => "form"}) do %>
			<%= button_for "Draw", :icon => 'pencil.png' %>
			<%= button_for "Draw", :icon => 'pencil.png', :class => 'positive' %>
			<%= button_for "Draw", :icon => 'pencil.png', :class => 'negative' %>
		<% end -%>
	</div>
<% end %>	